@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls

@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-listcontrol sc-UserAuditList";
    rendering.Requires.Script("client", "UserAuditList.js");

    rendering.GetString("userlist", "userlist");

    var htmlAttributes = rendering.HtmlAttributes;
}
<div @htmlAttributes>

    <div style='margin-bottom: 10px;' class='pull-right'>
        Username filter: <input type="text" id="user-audit-filter" />
    </div>

    <!-- data binding with knockout js https://cmsview.wordpress.com/2015/11/05/sitecore-speak-for-beginners-part-9-getting-data-for-custom-component/-->
    <div>
        <table class="sc-table sc-table-header table">
            <thead>
                <tr>
                    <th class="sc-table-head">User</th>
                    <th class="sc-table-head">All Items Changed</th>
                    <th class="sc-table-head">Items Saved</th>
                    <th class="sc-table-head">Items Copied</th>
                    <th class="sc-table-head">Items Moved</th>
                    <th class="sc-table-head">Items Cloned</th>
                    <th class="sc-table-head">Items Deleted</th>
                </tr>
            </thead>
        </table>
        <div class="sc-listcontrol-body">
            <table class="sc-table table">
                <tbody data-bind="foreach: userlist">
                    <tr class="audit-user-row">
                        <td class="ventilate">
                            <span class="audit-user-name" data-bind="text:UserName"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:AllChanges"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:ItemsSaved"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:ItemsCopied"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:ItemsMoved"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:ItemsCloned"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:ItemsDeleted"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
