<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="Sitecore.UserAuditReport.Serialization" description="User Audit Report">
          <targetDataStore physicalRootPath="C:\Projects\error404\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Sitecore.UserAuditReport.Button" database="core" path="/sitecore/Client/Applications/Launchpad/PageSettings/Buttons/Tools" />
            <include name="Sitecore.UserAuditReport.RolesMultilist" database="core" path="/sitecore/system/Field Types/Simple Types/Roles Multilist" />
            <include name="Sitecore.UserAuditReport.templateSettings" database="master" path="/sitecore/Templates/Feature/User Audit Reports" />
            <include name="Sitecore.UserAuditReport.settingItem" database="master" path="/sitecore/System/Modules/User Audit Reports" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>